<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name = ".YoutubeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/youtubewithtext"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouTubeClone"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.YouTubeClone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:host="youtubeclone.com"
                    android:scheme="https"/>
                <category  android:name="android.intent.category.DEFAULT"/>
                <category  android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.VIEW"/>

            </intent-filter>
            <intent-filter>
                <data android:host="youtubeclone.com"
                    android:scheme="http"/>
                <category  android:name="android.intent.category.DEFAULT"/>
                <category  android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.VIEW"/>

            </intent-filter>
        </activity>
        <receiver android:name=".services.downloader.DownloadCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>